<%= labelled_form_for @email_configuration, validate: true, html: { class: 'tabular' } do |f| -%>

    <%= error_messages_for 'email_configuration' %>

    <div class="box tabular settings">
      <fieldset class="box">
        <legend><%= l(:label_redmine_email_configuration) %></legend>
        <p><%= f.select :configuration_type, [['IMAP', 'imap'], ['POP3', 'pop3']],
                        { include_blank: true, label: l(:field_configuration_type), required: true },
                        { id: 'email_configuration_type' } %> </p>

        <p><%= f.select :flg_active, [['True', 'true'], ['False', 'false']],
                        { label: l(:field_flg_active), required: true } %> </p>

        <p>
          <%= f.label '', { label: l(:field_last_fetch_at) } %>
          <%- if @email_configuration.last_fetch_at.nil? %>
              <%= '---' %>
          <%- else %>
              <%= format_object(@email_configuration.last_fetch_at) %>
          <%- end %>
        </p>
      </fieldset>

      <fieldset class="box" id="email_server_attrs">
        <legend><%= l(:label_email_server) %></legend>
        <p><%= f.text_field :host, required: true, size: 127, label: l(:field_host) %> </p>

        <p><%= f.text_field :port, required: true, label: l(:field_port), placeholder: '(e.g. 993)' %> </p>

        <p><%= f.select :ssl, [['True', 'true'], ['False', 'false']], { label: l(:field_ssl), required: true } %> </p>

        <p><%= f.text_field :username, required: true, size: 127, label: l(:field_username) %> </p>

        <p><%= f.password_field :password, { label: l(:field_password), required: true, size: 127, value: @email_configuration.password } %> </p>

        <p><%= f.text_field :folder, required: true, size: 127, label: l(:field_folder), placeholder: '(e.g. INBOX)' %> </p>

        <div id="imap_email_only">
          <p><%= f.text_field :move_on_success, size: 127, label: l(:field_move_on_success) %> </p>

          <p><%= f.text_field :move_on_failure, size: 127, label: l(:field_move_on_failure) %> </p>
        </div>

        <div id="pop3_email_only">
          <p><%= f.select :apop, [['True', 'true'], ['False', 'false']], { label: l(:field_apop), required: true } %> </p>

          <p><%= f.select :delete_unprocessed, [['True', 'true'], ['False', 'false']],
                          { label: l(:field_delete_unprocessed), required: true } %> </p>
        </div>
      </fieldset>

      <fieldset class="box" id="redmine_email_new_sender_actions">
        <legend><%= l(:label_redmine_email_new_sender_actions) %></legend>
        <p><%= f.select :unknown_user, [['Accept', 'accept'], ['Create', 'create'], ['Ignore', 'ignore']],
                        { label: l(:field_unknown_user), required: true } %> </p>

        <p><%= f.select :no_account_notice, [['True', 'true'], ['False', 'false']],
                        { label: l(:field_no_account_notice), required: true } %> </p>

        <p><%= f.select :no_permission_check, [['True', 'true'], ['False', 'false']],
                        { label: l(:field_no_permission_check), required: true } %> </p>

        <p><%= f.text_field :default_group, size: 80, label: l(:field_default_group), placeholder: '(e.g. foo,bar)' %> </p>
      </fieldset>

      <fieldset class="box" id="redmine_email_new_issue_attribures">
        <legend><%= l(:label_redmine_email_new_issue_attribures) %></legend>
        <p><%= f.select :tracker_id, Tracker.order(:name).collect { |p| [p.name, p.id] },
                        { include_blank: true, required: true, label: l(:field_tracker) } %> </p>

        <p><%= f.text_field :category, size: 80, label: l(:field_category) %> </p>

        <p><%= f.select :priority, IssuePriority.order(:name), include_blank: true, required: false,
                        label: l(:field_priority), selected: @email_configuration.priority %> </p>

        <p><%= f.text_field :allow_override, size: 80, label: l(:field_allow_override),
                            placeholder: '(e.g. project,tracker,category,priority)' %> </p>

        <br/>
        <%- @projects = Project.order(:name) -%>
        <fieldset class="box required" id="project">
          <p><%= f.label '', { label: l(:field_project), required: true } %> </p>

          <div id="projects_list">
            <% if @projects.any? %>
                <%= render_project_nested_lists(@projects) do |p|
                  f.radio_button(:project_id, p.id) + ' ' + h(p)
                end %>
            <% else %>
                <p><%= l(:msg_no_projects) %></p>
            <% end %>
          </div>
        </fieldset>

      </fieldset>
    </div>

    <div id="save_cancel_btn">
      <%= submit_tag l(:button_save) %>
      <%= link_to l(:button_back), email_configurations_path %>
    </div>

    <div id="cancel_btn">
      <%= link_to l(:button_back), email_configurations_path %>
    </div>

<% end -%>



<% content_for :header_tags do %>
    <%= javascript_include_tag 'email_configurations.js', plugin: 'redmine_email_fetcher' %>
<% end %>

<script>
    $(function () {
        // To help item selection
        $("#email_configuration_type").change();
    });
</script>
